
@{
    ViewBag.Title = "TimLop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Đăng Ký Lớp</h2>

<div class="row">
    @using (Html.BeginForm("TimKhoaHoc", "DangKyKhoaHoc", FormMethod.Get))
    {
        <div class="col-md-3">
            <label for="tenHS" class="control-label">Tìm Khóa học</label>
            @Html.TextBox("tenKhoaHoc", null, new { @class = "form-control", @id = "tenHS", @placeholder = "Tên Khóa học" })
        </div>
        <div class="col-md-1">
            <div class="control-label">
                <br />
            </div>
            <button type="submit" class="btn btn-primary col-md-12">Tìm</button>
        </div>
    }
</div>
@if (TempData["Message_Fa"] != null)
            {
    <p class="text-center text-danger">@TempData["Message_Fa"]</p>
}
@if (TempData["Message_Su"] != null)
            {
    <p class="text-center text-success">@TempData["Message_Su"]</p>
}
<br />
<h3>@TempData["Title"]</h3>
@if (ViewBag.DSTimKiem != null)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    Tên Khóa học
                </th>
            </tr>

            @foreach (var item in ViewBag.DSTimKiem)
            {
                <tr onclick="location.href = '@(Url.Action("KhoaHoc", "DangKyKhoaHoc", new { id = item.ID}))'">
                    <td>
                        @item.TenKhoaHoc
                    </td>
                </tr>
            }

        </table>
    </div>
}