@model QLSinhVien.Models.KhoaHoc

@{
    ViewBag.Title = "Khóa học " + Model.TenKhoaHoc;
}

<h2 class="text-center">Chi tiết khóa học</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3 class="text-center">@Model.TenKhoaHoc</h3>
    </div>
    <div class="col-md-2">
        <br />
        <div class="text-right">
            <div class="dropdown ">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    Thêm
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>@Html.ActionLink("Thêm Môn Học", "KhoaHoc", "KhoaHocMonHoc", new { @id = Model.ID }, null)</li>
                    <li>@Html.ActionLink("Thêm Học Viên", "KhoaHoc", "DangKyKhoaHoc", new { @id = Model.ID }, null)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>

        <dt>
            Số Lượng Môn Học
        </dt>

        <dd>
            @TempData["SLMonHoc"]
        </dd>

        <dt>
            Số Lượng Học Viên
        </dt>

        <dd>
            @TempData["SLSinhVien"]
        </dd>
    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<br />

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#mon_hoc"><h4>Danh Sách Môn Học</h4></a></li>
    <li><a data-toggle="tab" href="#hoc_sinh"><h4>Danh Sách Học Viên</h4></a></li>
</ul>
<div class="tab-content">
    <div id="mon_hoc" class="tab-pane fade in active">
        <div class="row">
            <h3 class="text-center">Danh sách môn học trong khóa học</h3>
        </div>
        <div class="row">
            @if (ViewBag.DSMonHoc != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên Môn Học
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DSMonHoc)
                            {
                                <tr>
                                    <td>
                                        @item.MonHoc.TenMonHoc
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Không có môn học trong khóa học này</p>
            }
        </div>
    </div>
    <div id="hoc_sinh" class="tab-pane fade in">
        <div class="row">
            <h3 class="text-center">Danh sách học viên trong khóa học</h3>
        </div>
        <div class="row">
            @if (ViewBag.DSSinhVien != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên Sinh Viên
                                </th>
                                <th>
                                    Ngày Sinh
                                </th>
                                <th>
                                    Số DT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.DSSinhVien)
                            {
                                <tr>
                                    <td>
                                        @item.SinhVien.HoVaTen
                                    </td>
                                    <td>
                                        @item.SinhVien.NgaySinh
                                    </td>
                                    <td>
                                        @item.SinhVien.SoDienThoai
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Không có học viên trong khóa học này</p>
            }
        </div>
    </div>
</div>