@model IEnumerable<QLSinhVien.Models.KhoaHoc>

@{
    ViewBag.Title = "Danh Sách Khóa Học";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <div class="text-right">
            <a href="~/KhoaHoc/Create" class="btn btn-success active" role="button">Thêm</a>
        </div>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenKhoaHoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThoiGianBatDau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "KhoaHoc", new { id = item.ID}))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhoaHoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>