@model QLSinhVien.Models.KhoaHoc
@{
    ViewBag.Title = "KhoaHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Thêm Môn Học Vào Khóa Học</h2>
<br />
<div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">@Html.DisplayFor(model => model.TenKhoaHoc)</h3>
            <dl class="dl-horizontal">
                <dt>
                    Thời gian bắt đầu
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ThoiGianBatDau)
                </dd>
                <dt>
                    Thời gian kết thúc
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ThoiGianKetThuc)
                </dd>
                <dt>
                    Tổng Số Môn Học
                </dt>
                <dd>
                    @ViewBag.DSMonHocCount
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        @using (Html.BeginForm())
                        {
                            <div class="col-md-8">
                                <label class="control-label">Tìm tên môn học</label>
                                <input type="text" name="tenMonHoc" class="form-control" />
                                @if (ViewBag.KQTimKiemMH == null)
                                {
                                    <h5 class="text-danger">@TempData["Mess"]</h5>
                                }
                                @if (TempData["Success"] != null)
                                {
                                    <h5 class="text-success">@TempData["Success"]</h5>
                                }
                            </div>
                            <div class="col-md-4">
                                <br />
                                <input type="submit" value="Tìm" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Tìm Khóa Học Khác", "TimKhoaHoc", "KhoaHocMonHoc") |
</div>
<br />

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.DSMonHoc != null)
        {
            <div class="table-responsive">
                <h3 class="text-center">Danh sách môn học trong khóa</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Tên Môn Học
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.DSMonHoc)
                        {
                            <tr>
                                <td>
                                    @item.MonHoc.TenMonHoc
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Chưa có môn học trong khóa học này </p>
        }
    </div>

    <div class="col-md-6">
        @if (ViewBag.KQTimKiemMH != null)
        {
            <div class="table-responsive">
                <h3 class="text-center">@TempData["Search_result"]</h3>
                <table class="table table-hover" id="table_search">
                    <thead>
                        <tr>
                            <th>
                                Tên Môn Học
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.KQTimKiemMH)
                {
                            <tr class='clickable-row' data-href='@item.ID#@item.TenMonHoc#@Model.TenKhoaHoc'>
                                <td>
                                    @item.TenMonHoc
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>


</div>

<button id="popup" type="button" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xác Nhận Thêm Môn Học</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        Khóa Học
                    </dt>
                    <dd>
                        <p id="tenkhoahoc"></p>
                    </dd>
                    <dt>
                        Môn Học
                    </dt>
                    <dd>
                        <p id="tenmonhoc"></p>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button id="ConfirmSubmit" type="button" class="btn btn-success">Đồng Ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>

    </div>
</div>

@using (Html.BeginForm("Create", "KhoaHocMonHoc", null, FormMethod.Post, new { @id = "formCreate", @class = "hidden" }))
{
    @Html.AntiForgeryToken()
    <input id="MonHocID" name="MonHocID" />
    <input id="KhoaHocID" name="KhoaHocID" />
    <input type="submit" />
}

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                var data = $(this).data("href").split('#');

                var kh = @Model.ID;
                $("#KhoaHocID").val(kh);
                $("#MonHocID").val(data[0]);


                $("#tenmonhoc").text(data[1]);
                $("#tenkhoahoc").text(data[2]);
                document.getElementById("popup").click()
            });

            $("#ConfirmSubmit").click(function(){
                $("#formCreate").submit();
            })
        });
    </script>
}
