@model IEnumerable<QLSinhVien.Models.MonHoc>

@{
    ViewBag.Title = "Danh Sách Môn Học";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="text-center">@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <br />
    </div>
    <div class="col-md-2">
        <div class="text-right">
            <a href="~/MonHoc/Create" class="btn btn-success active" role="button">Thêm</a>
        </div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhoaHoc.TenKhoaHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Edit", "MonHoc", new { id = item.ID}))'">
        <td>
            @Html.DisplayFor(modelItem => item.KhoaHoc.TenKhoaHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenMonHoc)
        </td>
    </tr>
}

</table>
